colors = #333333
.title
    height 30px
    color: colors
    font-size 20px
    line-height 30px
    // display: block

.imgBox
    margin-bottom 10px
    border-bottom 1px solid colors

.example
    img 
        width 160px
