html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 100px;
  height: 100px;
  background: #f00;
}
.box img {
  width: 25px;
  height: 25px;
}
